<div mat-dialog-content class="modal-content" [ngStyle]="{'heigth': '100%'}">

    <!-- MODALS CONTENT -->
    <app-login *ngIf="modalS.loginStatus"></app-login>
    <app-confirm *ngIf="modalS.confirmStatus"></app-confirm>


    <!-- MODALS BTN -->
    <div mat-dialog-actions [ngStyle]="{'display': 'flex', 'justify-content':'center'}">

        <!-- CLOSE -->
        <button mat-button (click)="modalS.submit()" color="warn">Close</button>

        <!-- OK -->
        <button mat-button cdkFocusInitial color="primary" *ngIf="modalS.loginStatus" (click)="login()">Ok</button>
        <button mat-button cdkFocusInitial color="primary" *ngIf="modalS.confirmDeleteTodo" (click)="deleteTodo()">Ok</button>
        <button mat-button cdkFocusInitial color="primary" *ngIf="modalS.confirmUpdateTodo" (click)="updateTodo()">Ok</button>
    </div>
</div>