<form class="example-form" [formGroup]="form">

    <!-- EMAIL -->
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"  placeholder="Ex. pat@example.com" [(ngModel)]="modalS.loginEmail">

        <!-- ERRORS -->
        <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">
            <span *ngIf="form.get('email').errors.required">
                Email is <strong>required</strong>
            </span>
            <span *ngIf="form.get('email').errors.email">
                Please enter a valid email address
            </span>
        </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input class="passwords" matInput [type]="hide ? 'password' : 'text'" placeholder="min 6 symbols"
            formControlName="password" [(ngModel)]="modalS.loginPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <!-- ERRORS -->
        <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
            <span *ngIf="form.get('password').errors.required">
                Password is <strong>required</strong>
            </span>
            <span *ngIf="form.get('password').errors.minlength">
                The minimum password length is <strong> {{form.get('password').errors.minlength.requiredLength}}
                </strong> characters. The
                current password length is
                <strong>{{form.get('password').errors.minlength.actualLength}}</strong>
            </span>
        </mat-error>
    </mat-form-field>

</form>