<nav class="nav">
    <!-- Auth -->
    <!-- <ul class="nav__list">
        <li><button mat-flat-button color="primary">Create</button></li>
        <li><button mat-flat-button color="primary">Read</button></li>
        <li><button mat-flat-button color="primary">Log Out</button></li>
        <li><button mat-flat-button color="warn">Log Out</button></li>
    </ul> -->
    <!-- User -->
    <ul class="nav__list">
        <li>
            <button mat-flat-button color="accent" (click)="modalS.openLoginForm()">Sign In</button>
        </li>
    </ul>
</nav>